:root{
    --color1:#002A5C;
    --color2:#001228;
    --color3:#347BB7;

}
*{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
}


.header1{
    background-color:var(--color2);
    position: relative;
    top: 0;   
    width: 100%; 
}
.logoc{
   width: 80px;
   height: 80px;
   padding: 13px;
   margin-left: 30px;
}
.header1 p{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.menuimg{
    width: 40px;
    margin-right: 50px;
    display: none;
    
}
.menuimg:hover{
    transform: scale(1.1);
    cursor: pointer;

}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  z-index: 2000;
  
}
nav ul li a:hover{
    color: black;
    background: white;
   
}
  .back1{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    animation-name: change;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-delay: ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    animation-delay: 0s;
    z-index: 1;
  }
  .back1 p{
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    padding: 30px;
    margin-top: 320px;
    text-align: center; 
    animation: 5s anim-lineUp ease-out;
  }
  .back1 div{
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .back1 button{
    width: 130px;
    height: 40px;
    color: white;
    background-color:#001228d8 ;
    border: 0px;
    font-size: 16px ;
    animation: 10s anim-lineUp ease-out;
    
  }
  .back1 button :hover{
    cursor: pointer;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  
  
  @keyframes change {
    0%{ background-image: url('image/lj2.jpeg');}
    40%{background-image: url('image/landscape.png');}
    70%{background-image: url('image/Screenshot 2022-05-03 021353.png');}
    100%{background-image: url('image/lj2.jpeg');}
  }
  .back2 h1{
    padding: 20px;
    background-color: var(--color2);
    color: white;
  }
  .back2 h1{
    text-align: center;
  }
  .back2 p{
    padding: 90px;
    line-height: 30px;
  }
  .applynow{
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: var(--color1);
    color: white;
    border: 1px solid var(--color1) ;
    border-radius: 5px;
  }
  .back2-but{
      display: flex;
      justify-content: center;
      margin-top: -30px;
      padding-bottom: 230px;
  }
  .applynow:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
  }
  .footer1{
    background-color: var(--color2);
    z-index: 3;
}
.foot{
    padding-top: 30px;
    display: flex;
    justify-content:space-around;
    padding-bottom: 30px;
    flex-wrap: nowrap;

}
.footimg{
    margin-left: 50px;
    z-index: 1;
}
.footimg img{
    width: 35px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
}
#botimg1{
    width: 45px;
    margin-bottom: -3px;
}
#botimg2{
    margin-right: 8px;
}
#botimg3{
    margin-bottom: 5px;
    margin-right: 8px;
}
#botimg4{
    margin-right: 8px;
}

.footimg img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.foot2{
    padding: 20px;
}
.foot2flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.foot2 li{
    color: white;
    line-height: 35px;
    list-style-type:none;
    padding-left: 25px;
}
.foot2 a{
    text-decoration-line: none;
}
.foot2 a li:hover{
    color: var(--color3);
    transform: scale(1.1);
}
.mailbox{
    background-color: var(--color2);
    height: 28px;
    width: 180px;
    border-radius: 2px;
    border:1px solid white;
    color: white;
    font-size: 12px;
    padding-left: 3px;
}
.mailbox:hover{
    cursor: pointer;
}
.subbut{
    width: 180px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}
.subbut:hover{
    cursor: pointer;
}
.foot3{
    font-size: 14px;
    padding: 20px;
    color:rgb(197, 197, 197);
    padding-top: 40px;
    margin-left: 100px;
}
@media only screen and (max-width: 1020px) {
     .menuimg{
        display: block;
        width: 65px;
    }
    .header1 div p b{
        font-size: 25px;
    }
    .menuimg{
        display: block;
    }
    nav{
        z-index: 100000;
    }
    
    nav ul{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0%;
        display:block;
        background: var(--color2);
        padding-bottom: 40px;
        
    }
    nav ul li{
        
        padding-bottom: 40px;
        margin-top: 40px;
       }
    nav ul li a{
       font-size: 25px;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .foot h1{
        text-align: center;
        font-size: 50px;
    }
    .foot{
        padding-top: 30px;
        display: flex;
        justify-content:space-around;
        padding-bottom: 30px;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
    .footimg{
        display: flex;
        padding-top: 40px;
        justify-content: center;
        margin-right: 40px;
        flex-wrap: wrap;
    }
    .footimg img{
        padding: 50px;
        width: 60px;
        flex-shrink: 3;
    }
    #botimg1{
         width: 65px;
        margin-bottom: -3px;
    }
    #botimg2{
        margin-right: 8px;
        margin-top: 8px;
        width: 55px;
    }
    #botimg3{
        margin-bottom: 7px;
        margin-right: 8px;
    }
    #botimg4{
        margin-right: 8px;
        margin-top: 7px;
    }
    #botimg5{
        margin-top: 10px;
        margin-right: 10px;
    }
    .foot2flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
    .foot2{
        text-align: center;
    }
    .foot2 ul{
        padding-top: 80px;
    }
    .foot2 ul li{
        font-size: 40px;
        padding-top: 50px;
    }
    .footmail{
        padding-top: 150px;
    }
    .footmail b{
        font-size: 45px;
    }
    .footmail p{
        padding-bottom: 10px;
    }
    .mailbox{
        padding-left: 5px;
        width: 270px;
        height: 35px;
        font-size: 15px;
    }
    .subbut{
        width: 180px;
        padding: 15px;
        border-radius: 5px;
        font-size: 16px;
    }
    .applynow{
        width: 220px;
        height: 80px;
        font-size: 20px;
    }
 }  

